---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Pet";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <!-- <img width="300" height="259" alt="RaccoonSpaceGif" src="/cat.png" style="filter: drop-shadow(30px 30px 10px rgba(1,1,1,0.3));" /> -->
        <img width="auto" height="400" alt="RaccoonSpaceGif" src="/catt.png" />
    </div>
    <h1>P E t</h1>
    <small>Package Manager ( Developed by <a href="https://me0w-me0w-me0w.github.io" style="color:white">V.O.I.D</a> )</small>
    <h2>About</h2>
    <p>
        <b>Pet</b> is an Package Manager for handeling tools developed by VOID.
        <b>Pet</b> is developed with DENO , being the NODE successor.
    </p>
    <p>
        It consist of various types of tools and scripts written in Bash , Rust , Go , Deno and Python.
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
    <div class="button">
        <a href="/works/">
            <button>Our Portfolio</button>
        </a>
    </div>
    <h2>Tools</h2>
    <div class="link-images">
        <div class="icon">
            <svg viewBox="0 0 128 128">
                <path fill="none" d="M4.24 4.24h119.53v119.53H4.24z"></path>
                <path fill="currentColor" d="M109.01 28.64L71.28 6.24c-2.25-1.33-4.77-2-7.28-2s-5.03.67-7.28 2.01l-37.74 22.4c-4.5 2.67-7.28 7.61-7.28 12.96v44.8c0 5.35 2.77 10.29 7.28 12.96l37.73 22.4c2.25 1.34 4.76 2 7.28 2 2.51 0 5.03-.67 7.28-2l37.74-22.4c4.5-2.67 7.28-7.62 7.28-12.96V41.6c0-5.34-2.77-10.29-7.28-12.96zM79.79 98.59l.06 3.22c0 .39-.25.83-.55.99l-1.91 1.1c-.3.15-.56-.03-.56-.42l-.03-3.17c-1.63.68-3.29.84-4.34.42-.2-.08-.29-.37-.21-.71l.69-2.91c.06-.23.18-.46.34-.6.06-.06.12-.1.18-.13.11-.06.22-.07.31-.03 1.14.38 2.59.2 3.99-.5 1.78-.9 2.97-2.72 2.95-4.52-.02-1.64-.9-2.31-3.05-2.33-2.74.01-5.3-.53-5.34-4.57-.03-3.32 1.69-6.78 4.43-8.96l-.03-3.25c0-.4.24-.84.55-1l1.85-1.18c.3-.15.56.04.56.43l.03 3.25c1.36-.54 2.54-.69 3.61-.44.23.06.34.38.24.75l-.72 2.88c-.06.22-.18.44-.33.58a.77.77 0 01-.19.14c-.1.05-.19.06-.28.05-.49-.11-1.65-.36-3.48.56-1.92.97-2.59 2.64-2.58 3.88.02 1.48.77 1.93 3.39 1.97 3.49.06 4.99 1.58 5.03 5.09.05 3.44-1.79 7.15-4.61 9.41zm26.34-60.5l-35.7 22.05c-4.45 2.6-7.73 5.52-7.74 10.89v43.99c0 3.21 1.3 5.29 3.29 5.9-.65.11-1.32.19-1.98.19-2.09 0-4.15-.57-5.96-1.64l-37.73-22.4c-3.69-2.19-5.98-6.28-5.98-10.67V41.6c0-4.39 2.29-8.48 5.98-10.67l37.74-22.4c1.81-1.07 3.87-1.64 5.96-1.64s4.15.57 5.96 1.64l37.74 22.4c3.11 1.85 5.21 5.04 5.8 8.63-1.27-2.67-4.09-3.39-7.38-1.47z"></path>
                <path fill="#4FA847" d="M99.12 90.73l-9.4 5.62c-.25.15-.43.31-.43.61v2.46c0 .3.2.43.45.28l9.54-5.8c.25-.15.29-.42.29-.72v-2.17c0-.3-.2-.42-.45-.28z"></path>
            </svg>
        </div>
        <!-- Python -->
        <div class="icon">
            <svg viewBox="0 0 128 128">
                <linearGradient id="python-original-a" gradientUnits="userSpaceOnUse" x1="70.252" y1="1237.476" x2="170.659" y2="1151.089" gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)">
                    <stop offset="0" stop-color="#5A9FD4"></stop>
                    <stop offset="1" stop-color="#306998"></stop>
                </linearGradient>
                <linearGradient id="python-original-b" gradientUnits="userSpaceOnUse" x1="209.474" y1="1098.811" x2="173.62" y2="1149.537" gradientTransform="matrix(.563 0 0 -.568 -29.215 707.817)">
                    <stop offset="0" stop-color="#FFD43B"></stop>
                    <stop offset="1" stop-color="#FFE873"></stop>
                </linearGradient>
                <path fill="url(#python-original-a)" d="M63.391 1.988c-4.222.02-8.252.379-11.8 1.007-10.45 1.846-12.346 5.71-12.346 12.837v9.411h24.693v3.137H29.977c-7.176 0-13.46 4.313-15.426 12.521-2.268 9.405-2.368 15.275 0 25.096 1.755 7.311 5.947 12.519 13.124 12.519h8.491V67.234c0-8.151 7.051-15.34 15.426-15.34h24.665c6.866 0 12.346-5.654 12.346-12.548V15.833c0-6.693-5.646-11.72-12.346-12.837-4.244-.706-8.645-1.027-12.866-1.008zM50.037 9.557c2.55 0 4.634 2.117 4.634 4.721 0 2.593-2.083 4.69-4.634 4.69-2.56 0-4.633-2.097-4.633-4.69-.001-2.604 2.073-4.721 4.633-4.721z" transform="translate(0 10.26)"></path>
                <path fill="url(#python-original-b)" d="M91.682 28.38v10.966c0 8.5-7.208 15.655-15.426 15.655H51.591c-6.756 0-12.346 5.783-12.346 12.549v23.515c0 6.691 5.818 10.628 12.346 12.547 7.816 2.297 15.312 2.713 24.665 0 6.216-1.801 12.346-5.423 12.346-12.547v-9.412H63.938v-3.138h37.012c7.176 0 9.852-5.005 12.348-12.519 2.578-7.735 2.467-15.174 0-25.096-1.774-7.145-5.161-12.521-12.348-12.521h-9.268zM77.809 87.927c2.561 0 4.634 2.097 4.634 4.692 0 2.602-2.074 4.719-4.634 4.719-2.55 0-4.633-2.117-4.633-4.719 0-2.595 2.083-4.692 4.633-4.692z" transform="translate(0 10.26)"></path>
                <radialGradient id="python-original-c" cx="1825.678" cy="444.45" r="26.743" gradientTransform="matrix(0 -.24 -1.055 0 532.979 557.576)" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#B8B8B8" stop-opacity=".498"></stop>
                    <stop offset="1" stop-color="#7F7F7F" stop-opacity="0"></stop>
                </radialGradient>
                <path opacity=".444" fill="url(#python-original-c)" d="M97.309 119.597c0 3.543-14.816 6.416-33.091 6.416-18.276 0-33.092-2.873-33.092-6.416 0-3.544 14.815-6.417 33.092-6.417 18.275 0 33.091 2.872 33.091 6.417z"></path>
            </svg>
        </div>
        <!-- <div class="icon"> -->
        <div class="icon">
            <svg viewBox="0 0 128 128">
                <path fill="currentColor" d="M59.016 13.328c-.239.024-1 .113-1.688.176-9.777 1.023-19.406 5.164-27.258 11.738-1.449 1.203-4.75 4.504-5.953 5.953-6.5 7.766-10.3 16.48-11.703 26.793-.312 2.29-.312 10.016 0 12.305 1.402 10.312 5.203 19.027 11.703 26.793 1.203 1.45 4.504 4.75 5.953 5.953 7.766 6.5 16.48 10.3 26.793 11.703 2.29.313 10.016.313 12.305 0 10.312-1.402 19.027-5.203 26.793-11.703 1.45-1.203 4.75-4.504 5.953-5.953 6.5-7.766 10.3-16.48 11.7-26.793.316-2.29.316-10.016 0-12.305-1.4-10.312-5.2-19.027-11.7-26.793-1.203-1.449-4.504-4.75-5.953-5.953-7.738-6.476-16.543-10.324-26.719-11.687-1.101-.153-2.699-.215-5.664-.239-2.262-.027-4.328-.011-4.562.012zm.625 5.402c0 1.461.097 4.637.238 7.653.074 1.472.16 3.586.2 4.687.136 3.903.55 14.14.612 15.055l.063.91-.563-.062c-.312-.024-.601-.098-.652-.137-.035-.05-.125-.914-.176-1.926-.222-4.45-.96-21.719-1.035-24.242l-.078-2.777.352-.047c.187-.028.5-.063.699-.078l.34-.012zm11.964-.3c.012.011.051 3.789.086 8.39.051 4.614.114 8.75.153 9.2.035.464.023.863-.04.89-.05.035-.363.035-.675 0l-.574-.05-.086-3.641a692.868 692.868 0 00-.14-4.961c-.099-2.215-.188-9.727-.11-9.914.047-.14.187-.153.71-.063.364.074.665.137.676.149zm-28.921 4.187c.078.113.664 7.004 1.39 16.016.239 3.066.473 5.867.512 6.215.062.636.05.664-.352.914-.222.136-.449.25-.5.25-.035 0-.109-.325-.148-.727-.176-1.625-.852-9.476-1.324-15.152-.278-3.34-.528-6.328-.563-6.653-.062-.55-.05-.601.274-.773.398-.215.625-.25.71-.09zm34.421 2.516c.352.125.387.187.465.898.125 1.25.086 7.227-.05 7.227-.364 0-1.114-.426-1.176-.664-.04-.149-.074-1.922-.074-3.938 0-4.062-.051-3.824.835-3.523zm-23.093.586c0 .336.09 2.199.187 4.164.102 1.96.215 4.449.266 5.527.086 2.176.11 2.098-.727 2.149-.414.011-.414.011-.437-.614-.024-.347-.086-1.437-.164-2.437-.063-1-.211-3.164-.313-4.813a117.11 117.11 0 00-.261-3.64c-.075-.625-.063-.649.273-.774.203-.074.55-.136.777-.136.399-.012.399-.012.399.574zm34.683 1.715l.426.171.09 1.676c.035.914.062 2.89.035 4.38l-.035 2.722-.527-.262-.524-.25-.039-4.152c-.023-2.285-.012-4.223.012-4.313.05-.187.05-.187.562.028zM65.867 29.07c.074.075.25 6.137.262 9.215l.012 1.852-.586-.09c-.34-.04-.614-.074-.625-.086-.04-.027-.414-9.29-.414-10.191v-.926l.636.074c.364.05.676.113.715.152zm28.793.887c.153.176.176 2.914.215 18.016.035 17.343.035 17.793-.188 17.793a.806.806 0 01-.44-.164c-.188-.137-.212-1.649-.274-16.465-.051-8.977-.114-17.13-.149-18.117l-.078-1.801.363.261c.215.153.454.364.551.477zM83.445 32.52c.063.05.125.761.137 1.578.063 2.761.074 19.703.012 19.754-.024.023-.25-.04-.5-.137l-.45-.188v-21.27l.352.075c.188.05.387.125.45.188zm-34.507.699c.035.34.097 1.101.136 1.726.04.614.125 2.016.2 3.102.152 2.2.124 2.34-.587 2.34-.374 0-.425-.04-.476-.414-.125-.739-.563-6.891-.5-6.989.062-.09.715-.312 1.012-.34.078-.011.175.25.215.575zm-20.68 3.191c.137 1.324.41 4.102.613 6.164.211 2.063.387 3.813.387 3.887 0 .152-.965.625-1.063.527-.062-.062-1.312-11.129-1.312-11.629 0-.3.96-1.562 1.086-1.425.039.023.164 1.136.289 2.476zm49.023 1.313l.364.21.011 2.704c.012 1.472.04 3.125.04 3.66.023 1.125-.114 1.312-.79 1.078l-.386-.14V44.16c0-.597-.04-2.336-.09-3.875l-.075-2.777h.29c.148 0 .437.101.636.215zm-43.535 4.851c.227 2.399.586 6.45.824 9l.426 4.63-.488.483-.473.489-.09-.989c-.05-.55-.3-3.097-.562-5.675a1449.23 1449.23 0 01-.824-8.301l-.352-3.602.488-.449c.438-.414.489-.426.575-.2.05.126.261 2.2.476 4.614zm-9.363 1.512c.273 2.465 1 9.016 1.625 14.555s1.21 10.875 1.324 11.875c.102 1 .273 2.515.375 3.379.176 1.46.176 1.562-.023 1.71-.301.227-.426.2-.426-.062 0-.113-.113-1.063-.25-2.086-.227-1.715-.602-4.617-1.438-11.129a740.832 740.832 0 01-.75-5.812c-.25-1.891-.613-4.703-.816-6.254-.2-1.551-.535-4.2-.75-5.914-.223-1.7-.36-3.211-.324-3.375.09-.336.824-1.512.902-1.438.023.035.273 2.074.55 4.55zm-3.828 5.387c.187 1.504.539 4.242.777 6.101.234 1.852.535 4.164.672 5.13l.238 1.75-.262.226c-.148.125-.3.172-.351.125-.047-.051-.149-.551-.223-1.102a995.27 995.27 0 00-1.039-7.129l-.887-6.125.286-.851c.152-.461.312-.836.351-.836.051 0 .238 1.226.438 2.71zm68.64-1.637c.176.176.203.95.203 6.691v6.489h-.351c-.762 0-.75.187-.8-6.914l-.036-6.465h.398c.211 0 .489.086.586.199zm-27.367 2.238c2.824.426 5.29 1.215 7.727 2.465 1.574.813 2.324 1.375 4.074 3.05 2.601 2.49 4.203 4.665 5.703 7.74 2.188 4.476 3.04 8.437 4.113 19.066.489 4.765 1.125 13.402 1.262 16.94.04 1.028.125 2.716.203 3.75.137 2.204.297 1.903-1.64 2.84-2.688 1.302-5.278 2.2-8.688 3.04-4.176 1.023-6.879 1.347-11.004 1.363l-3 .012.024-1.438c0-.789.074-2.625.152-4.062.375-6.965.297-15.754-.188-20.633-.277-2.8-.812-6.2-1.113-6.95-.062-.163.223-.3 1.461-.726 2.266-.789 4.227-1.777 4.527-2.261.54-.926-.425-2.254-1.652-2.254-.21 0-.848.226-1.437.488-2.801 1.289-8.414 2.8-11.653 3.14-2.238.239-5.715.098-8.125-.34-1.312-.238-3.664-1.124-5.629-2.136-2.261-1.176-3.648-2.738-4.062-4.59-.227-1-.164-3 .125-4.125.312-1.238 1.187-3.039 1.988-4.09 3.563-4.687 10.914-8.75 18.453-10.175 2.403-.45 5.801-.5 8.38-.114zm38.57.387c.45.187.5.238.5.664.028 3.414-.05 11.215-.113 11.54-.012.112-.66.124-.937.026-.172-.062-.2-.738-.2-6.254 0-3.949.051-6.175.125-6.175.063 0 .352.09.625.199zm5.465 6.867l.45.188-.086 10.351c-.102 13.192-.114 13.578-.59 14.715-.774 1.863-.735 2.238-.66-5.937.023-4.09.085-8.227.113-9.192.023-.96.047-3.676.062-6.039 0-2.852.035-4.273.125-4.273.075 0 .336.086.586.187zm-75.191 3.113c.074 1.012.047 1.11-.317 1.91l-.398.852-.148-1.25c-.239-2-.239-2.09.234-2.387.215-.152.441-.25.477-.226.039.023.113.523.152 1.101zm-7.73 7.54c.113 1.023.988 7.824 1.44 11.164.673 5.164.723 5.902.423 5.59-.035-.04-.325-1.778-.625-3.864-1.95-13.48-1.938-13.39-1.774-13.492.336-.227.45-.102.535.601zm9.003 5.726c.075.313.438 3.7.438 4.113 0 .348-.45.676-.649.473-.062-.063-.226-1.125-.351-2.348-.137-1.238-.274-2.527-.313-2.863l-.074-.625.438.5c.25.273.472.61.511.75zm10.09 4.711c.137.125.227.625.336 1.977.188 2.437.215 2.25-.297 2.25-.527 0-.515.039-.687-2.165-.176-2.238-.176-2.21.16-2.21.164 0 .375.074.488.148zm9.903.187c.023.125.085.875.136 1.665.04.789.153 2.562.25 3.937.352 5.05.364 5.691.153 5.691-.239 0-.266-.187-.54-3.753a274.195 274.195 0 00-.414-5.165c-.109-1.359-.187-2.5-.148-2.523.137-.152.5-.039.563.148zm-23.504 2.403c.074.113.546 4.113 1.136 9.578.176 1.648.348 3.238.387 3.535l.063.54-.313-.2c-.238-.164-.324-.324-.324-.613 0-.79-.54-5.977-.95-9.153-.238-1.8-.425-3.386-.425-3.539 0-.261.3-.363.426-.148zm72.152 5.226l-.086 5.227-.313.46c-.714 1.052-.675 1.25-.636-4.6l.023-5.364.461-.477c.25-.25.5-.46.55-.46.04 0 .04 2.351 0 5.214zm-11.563 8.29c.063 7.265.047 7.828-.152 8.05-.125.137-.238.227-.273.188-.09-.098-.215-15.942-.114-16.028.051-.05.176-.074.29-.062.16.035.199.926.25 7.851zm-40.835-4.977c.085.773.398 4.488.523 6.238.074 1.176.074 1.215-.2 1.3-.148.052-.324.04-.374-.022-.086-.09-.364-2.864-.7-7.141l-.09-1.024h.391c.36 0 .387.024.45.649zm-9.829 4.375c.086.09.149.402.149.715 0 .324.152 2.011.312 3.761.477 4.79.516 5.438.301 5.313-.324-.188-.613-.473-.55-.547.027-.05-.024-.676-.126-1.39a65.54 65.54 0 01-.25-2.626c-.047-.722-.16-2.05-.261-2.937-.239-2.188-.223-2.438.05-2.438a.59.59 0 01.375.149zm5.914 8.414c.04.277.114 1.3.164 2.277.086 1.875.047 2.012-.464 1.625-.149-.113-.25-.586-.399-2.011-.261-2.579-.277-2.477.211-2.426.363.035.414.086.488.535zm0 0"></path>
                <path d="M39.809 56.063c-1.301.562-1.399 2.328-.176 2.953.89.449 1.789.234 2.254-.54.875-1.425-.551-3.074-2.078-2.413zm8.476 1.203c-1.2.734-1.2 2.511 0 3.25 1.188.71 2.727-.227 2.727-1.653 0-1.375-1.575-2.3-2.727-1.597zm0 0"></path>
            </svg>
        </div>
        <!-- rust-->
        <div class="icon">
            <svg viewBox="0 0 128 128">
                <path fill="currentColor" d="M62.271 10.88c-.189.11-.982 1.248-1.763 2.529-1.96 3.217-1.982 3.219-4.615.448-1.713-1.802-2.127-2.132-2.679-2.128-.359.002-.812.124-1.008.271-.195.147-.748 1.317-1.228 2.6-1.099 2.939-1.152 3.034-1.761 3.151-.375.071-1.097-.331-2.828-1.574-1.278-.919-2.532-1.67-2.786-1.67-1.054 0-1.351.576-1.853 3.593-.638 3.836-.616 3.823-4.074 2.252-1.396-.633-2.72-1.152-2.943-1.152-.223 0-.646.24-.939.533-.532.533-.533.535-.388 3.468l.146 2.936-.555.297c-.492.263-.831.231-3.009-.284-2.843-.671-3.443-.653-4.019.122l-.421.566.565 2.421c.31 1.331.609 2.613.665 2.848.055.234-.04.609-.212.832-.284.367-.586.4-3.217.36-4.453-.07-4.706.312-2.866 4.328.585 1.275 1.064 2.433 1.064 2.572 0 .734-.585 1.001-3.098 1.411-1.406.229-2.628.417-2.716.417-.088 0-.352.192-.586.426-.765.765-.548 1.483 1.187 3.932 2.161 3.05 2.157 3.061-1.413 4.427-4.06 1.553-4.142 1.936-1.051 4.868 2.879 2.73 2.882 2.69-.377 4.739-2.469 1.551-2.507 1.588-2.57 2.429-.076 1.023-.058 1.041 2.89 2.842 2.915 1.78 2.915 1.834.054 4.541-3.077 2.91-2.982 3.335 1.081 4.868 3.55 1.339 3.555 1.355 1.39 4.405-1.227 1.729-1.618 2.449-1.618 2.983 0 .999.52 1.254 3.627 1.776 2.617.441 3.2.7 3.2 1.422 0 .148-.48 1.316-1.067 2.594-1.826 3.977-1.618 4.308 2.704 4.308 4.025 0 3.918-.123 3.051 3.507-.654 2.736-.664 3.26-.072 3.851.453.454 1.307.403 3.978-.236 2.04-.487 2.398-.521 2.871-.268l.54.289-.146 2.935c-.145 2.934-.144 2.936.388 3.469.293.293.722.533.952.533.23 0 1.554-.516 2.943-1.147 3.447-1.565 3.425-1.578 4.061 2.246.504 3.031.798 3.594 1.874 3.594.267 0 1.494-.72 2.728-1.6 2.167-1.546 2.729-1.788 3.306-1.421.149.094.727 1.364 1.284 2.822.819 2.144 1.119 2.702 1.575 2.92.868.416 1.405.082 3.445-2.14 2.463-2.683 2.564-2.67 4.575.589 2.221 3.598 2.796 3.59 5.073-.073 1.962-3.156 1.939-3.154 4.591-.384 1.761 1.838 2.136 2.131 2.73 2.131.379 0 .832-.142 1.005-.316.174-.174.75-1.459 1.28-2.855.53-1.397 1.079-2.613 1.221-2.703.561-.357 1.142-.106 3.306 1.43 1.274.905 2.473 1.6 2.758 1.6 1.058 0 1.44-.751 1.88-3.703.376-2.517.452-2.758.947-3.009.487-.247.779-.164 3.063.873 1.389.63 2.713 1.146 2.943 1.146.23 0 .666-.247.967-.549l.549-.548-.151-2.815c-.144-2.688-.131-2.832.298-3.22.441-.399.486-.397 2.952.166 2.986.682 3.543.7 4.104.139.548-.548.542-.668-.208-3.831-.841-3.548-.954-3.422 3.088-3.422 2.755 0 3.062-.039 3.413-.426.586-.648.447-1.39-.732-3.903-.595-1.266-1.078-2.418-1.074-2.56.02-.747.607-1.002 3.32-1.443 1.66-.269 2.902-.581 3.127-.784.754-.681.477-1.567-1.244-3.98-2.157-3.024-2.148-3.053 1.306-4.326 4.136-1.524 4.254-2.032 1.159-4.973-2.867-2.724-2.868-2.709.272-4.637 3.796-2.33 3.802-2.855.067-5.173-3.212-1.993-3.21-1.965-.331-4.699 3.088-2.934 3.004-3.318-1.057-4.871-3.584-1.371-3.595-1.405-1.417-4.394 1.297-1.78 1.618-2.371 1.618-2.981 0-1.066-.478-1.305-3.622-1.813-2.627-.424-3.205-.682-3.205-1.429 0-.142.48-1.285 1.067-2.542 1.149-2.461 1.31-3.446.66-4.035-.349-.316-.817-.361-3.321-.32-2.62.044-2.955.007-3.318-.358-.397-.399-.393-.455.227-3.042.76-3.17.763-3.247.138-3.834-.634-.596-1.03-.586-3.941.099-2.121.5-2.472.533-2.954.275l-.547-.293.151-2.926.152-2.925-.547-.547c-.301-.301-.728-.547-.95-.547-.221 0-1.538.523-2.926 1.161-2.318 1.067-2.567 1.138-3.068.876-.5-.262-.583-.52-1.01-3.127-.493-3.016-.798-3.603-1.869-3.603-.254 0-1.513.755-2.798 1.678-2.11 1.516-2.393 1.659-2.919 1.476-.435-.152-.688-.483-.997-1.306-.229-.606-.667-1.774-.975-2.595-.622-1.656-.969-2.027-1.901-2.027-.52 0-.991.374-2.679 2.127-2.653 2.756-2.663 2.755-4.614-.445-.78-1.279-1.595-2.421-1.812-2.537-.488-.262-1.062-.261-1.511.002m2.418 9.635c2.311 1.645 1.082 5.512-1.752 5.512-2.75 0-4.135-3.313-2.171-5.194 1.108-1.062 2.697-1.191 3.923-.318m-2.906 10.214c1.515.576 2.137.23 5.596-3.104l2.599-2.506 1.1.146c3.45.458 10.312 3.472 14.255 6.261 3.623 2.564 8.438 7.786 10.49 11.377l.439.769-1.944 4.38c-1.07 2.409-1.945 4.633-1.945 4.944 0 .717.47 1.851.923 2.226.191.159 2.006 1.033 4.033 1.942l3.684 1.654.145.937c.187 1.221.212 4.22.042 5.072l-.133.666h-2.103c-2.439 0-2.251-.218-2.383 2.774-.096 2.169-.62 3.368-1.812 4.144-1.942 1.267-5.149 1.037-6.509-.466-.209-.231-.615-1.392-.903-2.581-.841-3.473-1.971-5.423-4.241-7.32-.717-.599-1.303-1.158-1.303-1.243 0-.084.788-.748 1.752-1.473 3.51-2.646 5.528-5.726 5.75-8.777.423-5.819-4.213-11.243-11.109-13.001-1.635-.417-2.333-.43-22.56-.43-11.48 0-20.873-.075-20.873-.166 0-.215 2.551-2.691 4.054-3.933 4.127-3.412 9.488-6.097 15.04-7.531l1.92-.497 2.728 2.766c1.501 1.521 2.972 2.857 3.268 2.97M27.432 48.526c1.257.823 1.772 2.891 1.03 4.134-1.148 1.924-4.056 2.005-5.205.145-1.671-2.702 1.547-6.001 4.175-4.279m74.05.105c3.288 2.005.74 6.937-2.78 5.38-2.35-1.04-2.425-4.252-.127-5.424.959-.489 2.061-.472 2.907.044M37.12 60.907v12.266H26.276l-.43-1.866c-.846-3.675-1.202-7.477-.989-10.591l.149-2.188 3.728-1.672c2.339-1.048 3.843-1.847 4.037-2.144.848-1.293.767-2.217-.423-4.845l-.556-1.227h5.328v12.267m31.22-11.733c2.322.604 3.549 1.833 3.552 3.556.002 1.265-.625 2.059-2.18 2.761-1.101.498-1.276.51-8.219.578l-7.093.068v-7.284h6.355c4.964 0 6.625.07 7.585.321m-2.396 17.602c1.151.32 2.512 1.32 3.21 2.359.733 1.092 1.162 2.512 2.178 7.216.858 3.976 1.41 5.276 2.956 6.968 1.915 2.095 1.471 2.014 11.037 2.014 4.581 0 8.328.073 8.328.163 0 .161-3.155 3.891-3.291 3.891-.039 0-1.687-.345-3.662-.767-5.577-1.191-5.778-1.051-7.058 4.926l-.823 3.84-.743.366c-1.24.612-5.27 1.872-7.359 2.302-3.452.71-7.209.95-10.511.671-5.629-.477-13.083-2.661-13.374-3.92-.062-.267-.437-1.995-.832-3.841-.396-1.846-.877-3.597-1.069-3.891-.923-1.408-1.894-1.495-6.164-.55-1.617.358-3.028.65-3.136.65-.203 0-3.204-3.47-3.204-3.704 0-.073 7.128-.158 15.84-.188l15.84-.054.057-5.627c.04-3.973-.015-5.714-.187-5.92-.192-.232-1.214-.293-4.91-.293H54.4V66.56l5.387.001c2.962.001 5.733.098 6.157.215M41.536 92.365c2.519 1.535 1.311 5.557-1.668 5.554-3.055-.002-4.187-3.987-1.584-5.575.861-.525 2.374-.515 3.252.021m46.126.168c1.235.905 1.646 2.788.881 4.042-2.009 3.295-7.033.676-5.355-2.791.825-1.703 3.018-2.317 4.474-1.251" fill-rule="evenodd"></path>
            </svg>
        </div>
        <!-- debian -->
        <div class="icon">
            
            <svg viewBox="0 0 128 128">
            <path fill="currentColor" d="M73.776 67.531c-2.065.028.391 1.063 3.087 1.479a27.453 27.453 0 002.023-1.741c-1.679.41-3.387.419-5.11.262m11.086-2.763c1.229-1.697 2.127-3.556 2.442-5.478-.276 1.369-1.019 2.553-1.72 3.801-3.86 2.431-.363-1.443-.002-2.916-4.15 5.225-.57 3.133-.72 4.593m4.093-10.648c.249-3.72-.733-2.544-1.063-1.125.384.201.69 2.622 1.063 1.125M65.944 3.283c1.102.198 2.381.35 2.202.612 1.206-.263 1.48-.506-2.202-.612m2.202.613l-.779.161.725-.064.054-.097m34.372 51.634c.123 3.34-.978 4.961-1.969 7.829l-1.786.892c-1.46 2.838.142 1.802-.903 4.059-2.281 2.027-6.921 6.345-8.406 6.738-1.084-.023.734-1.278.972-1.771-3.052 2.098-2.449 3.147-7.118 4.422l-.136-.305c-11.516 5.417-27.51-5.318-27.299-19.966-.123.931-.349.697-.605 1.074-.594-7.537 3.481-15.107 10.353-18.196 6.722-3.329 14.602-1.963 19.417 2.524-2.644-3.465-7.909-7.137-14.148-6.793-6.111.097-11.828 3.98-13.735 8.196-3.132 1.972-3.495 7.6-4.859 8.628-1.835 13.491 3.453 19.318 12.398 26.175 1.407.949.396 1.093.587 1.815-2.972-1.392-5.694-3.493-7.931-6.065 1.186 1.739 2.468 3.429 4.125 4.756-2.803-.949-6.546-6.79-7.64-7.028 4.832 8.649 19.599 15.169 27.333 11.935-3.579.131-8.124.073-12.145-1.413-1.688-.869-3.984-2.669-3.574-3.007 10.553 3.944 21.456 2.988 30.586-4.333 2.323-1.81 4.861-4.887 5.594-4.93-1.105 1.661.188.8-.66 2.266 2.316-3.733-1.005-1.521 2.394-6.448l1.256 1.729c-.467-3.098 3.848-6.861 3.41-11.762.99-1.499 1.104 1.612.054 5.061 1.457-3.825.384-4.44.759-7.597.404 1.062.935 2.188 1.208 3.308-.95-3.696.975-6.226 1.45-8.373-.467-.208-1.464 1.634-1.692-2.732.034-1.896.528-.993.718-1.46-.373-.215-1.349-1.668-1.944-4.456.431-.655 1.151 1.698 1.739 1.795-.378-2.217-1.028-3.907-1.053-5.609-1.713-3.579-.606.478-1.996-1.536-1.823-5.687 1.513-1.32 1.738-3.903 2.763 4.003 4.339 10.208 5.062 12.777-.552-3.133-1.443-6.168-2.532-9.105.839.354-1.352-6.446 1.091-1.943-2.609-9.6-11.166-18.569-19.038-22.778.962.881 2.179 1.989 1.743 2.162-3.915-2.331-3.227-2.513-3.787-3.498-3.19-1.297-3.399.104-5.511.003-6.012-3.188-7.171-2.85-12.703-4.848l.252 1.177c-3.984-1.327-4.641.503-8.945.004-.263-.205 1.379-.74 2.73-.937-3.85.508-3.67-.759-7.438.14.929-.651 1.909-1.082 2.9-1.637-3.139.191-7.495 1.828-6.151.339-5.121 2.286-14.218 5.493-19.322 10.28l-.161-1.073c-2.339 2.809-10.2 8.387-10.826 12.022l-.625.146c-1.218 2.06-2.004 4.396-2.97 6.517-1.592 2.713-2.334 1.044-2.107 1.469-3.132 6.349-4.687 11.683-6.03 16.057.958 1.432.022 8.614.385 14.364-1.572 28.394 19.928 55.962 43.43 62.329 3.445 1.23 8.567 1.184 12.924 1.311-5.141-1.471-5.806-.778-10.813-2.525-3.614-1.701-4.405-3.644-6.964-5.864l1.014 1.79c-5.019-1.775-2.918-2.198-7.002-3.491l1.083-1.412c-1.627-.123-4.309-2.74-5.042-4.191l-1.779.07c-2.138-2.638-3.277-4.538-3.194-6.011l-.575 1.024c-.652-1.119-7.865-9.893-4.123-7.85-.696-.637-1.62-1.035-2.622-2.856l.762-.871c-1.802-2.316-3.315-5.287-3.2-6.276.96 1.298 1.627 1.54 2.287 1.763-4.548-11.285-4.803-.622-8.248-11.487l.729-.059c-.559-.842-.898-1.756-1.347-2.652l.316-3.161c-3.274-3.786-.916-16.098-.443-22.851.328-2.746 2.733-5.669 4.563-10.252l-1.114-.192c2.131-3.717 12.167-14.928 16.815-14.351 2.251-2.829-.446-.011-.886-.723 4.945-5.119 6.5-3.617 9.838-4.537 3.6-2.137-3.089.833-1.383-.815 6.223-1.589 4.41-3.613 12.528-4.42.857.487-1.987.752-2.701 1.385 5.185-2.536 16.408-1.959 23.697 1.408 8.458 3.952 17.961 15.638 18.336 26.631l.427.114c-.216 4.37.669 9.424-.865 14.066l1.043-2.201M51.233 70.366l-.29 1.448c1.357 1.845 2.435 3.843 4.167 5.283-1.246-2.434-2.173-3.44-3.877-6.731m3.208-.126c-.718-.795-1.144-1.751-1.62-2.704.456 1.675 1.388 3.114 2.255 4.578l-.635-1.874m56.785-12.343l-.304.762a36.72 36.72 0 01-3.599 11.487 36.107 36.107 0 003.903-12.249M66.353 2.293c1.396-.513 3.433-.281 4.914-.617-1.93.162-3.852.259-5.75.503l.836.114M17.326 28.362c.322 2.979-2.242 4.135.567 2.171 1.506-3.39-.588-.935-.567-2.171M14.025 42.15c.646-1.986.764-3.18 1.011-4.328-1.788 2.285-.823 2.773-1.011 4.328"></path>
            </svg>
          
        </div>
    </div>
    <h2>Interests</h2>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
</Layout>
<style>
/* small */
small {
    background-color: #584966;
    color: #fdebf3;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding: 0.3em 0.6em 0.2em;
}

/* Button */
button {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #78c2ad;
    border-radius: 8px;
    color: #78c2ad;
    font: 600 16px 'Josefin Sans', sans-serif;
    padding: 8px 16px;
    transition: background-color 0.4s, color 0.4s;
}

button:hover {
    background-color: #78c2ad;
    color: #fdebf3;
    cursor: pointer;
}

.button {
    text-align: center;
}

/* Skill images */
.link-images img {
    margin: 16px 4px;
}

@media only screen and (max-width: 600px) {
    .link-images img {
        height: 30px;
        width: 30px;
        margin: 16px 1px;
    }
}
</style>